@import url(base.css);

/**** HEADER ****/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
}
.logo {
    font-size: 4rem;
    font-weight: bold;
    color: var(--darkBlue_300);
    padding: 1rem;
    flex: 0 0 10%;
}
.header_texto{
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    flex: 0 0 83%;
}
.titulo_principal{
    color: var(--darkBlue_200);
    margin: 0 0 1.5rem 0;
}
.subtitulo{
    margin: 0;
}

/* Boton para activar darkmode*/
.container_btn_darkmode{
    height: 4rem;
    border-radius: 2rem;
    flex: 0 0 30%;
    margin: 0 auto;
    background-color: var(--darkBlue_700);
    position: relative;
}
/* Contenedor que permite el movimiento del botón para habilitar el darkmode */
.movimiento {
    position: absolute;
    width: min-content;
    height: min-content;
    left: 0;
    top: 0;
}
/* Posicionamiento y estilos en diferentes pantallas*/
@media (min-width: 480px) {
    .container_btn_darkmode{
        width: 4rem;
        height: 8rem;
        position: absolute;
        right: 0;
    }
    .container_btn_darkmode,
    .header_texto,
    .logo{
        flex: initial;
    }
    header{
        flex-wrap: initial;
    }
}
@media (min-width: 940px) {
    .container_btn_darkmode{
        height: 4rem;
        width: 10rem;
    }
}

/**** BOTONES ****/
/* Se incluyen los botones para encriptar, desencriptar, copiar texto y habilitar darkmode*/
.btn_encriptar,
.btn_desencriptar,
.btn_copiar{
    display: block;
    width: 100%;
    padding: 2.4rem;
    border: none;
}
.btn_encriptar,
.btn_desencriptar,
.btn_copiar,
.btn_darkmode {
    cursor: pointer;
    border-radius: 2.4rem;
}

.btn_encriptar{
    background-color: var(--darkBlue_300);
    color: var(--white);
    margin-bottom: 2rem;
}
.btn_encriptar:hover{
    background-color: var(--darkBlue_200);
}

.btn_desencriptar,
.btn_copiar{
    color: var(--darkBlue_300);
    background-color: var(--white);
    border: 1px solid var(--darkBlue_300);
    margin-bottom: 6.4rem;
}
.btn_copiar{
    margin: 0;
    width: calc(100% - 3.2rem);
}
.btn_desencriptar:hover,
.btn_copiar:hover{
    background-color: var(--gray_100);
}

.btn_darkmode{
    background-color: var(--darkBlue_300);
    border: 2px solid var(--darkBlue_700);
    position: relative;
    height: 4rem;
    width: 4rem;
}
.btn_darkmode::before,
.btn_darkmode::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
}
.btn_darkmode::before{
    height: 2rem;
    width: 2rem;
    background-color: var(--white);
}
.btn_darkmode::after{
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--darkBlue_300);
}

/**** CONTENIDO PRINCIPAL ****/
.contenido_principal{
    margin-top: 1rem;
}
@media (min-width: 768px) {
    /* Distribución correcta de la altura en dispositivos con un ancho mayor a 768px*/
    .contenido_principal {
        height: 90vh;
        display: flex;
        flex-direction: column;
    }
}

/**** ENTRADA DE TEXTO ****/
.container_entrada{
    /* Se utiliza display: flex para que la altura del contenido crezca con base a la altura del dispositivo */
    display: flex;
    flex-direction: column;
}
.texto_entrada{
    font-size: 3.2rem;
    color: var(--darkBlue_200);
    width: 100%;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 3.2rem;
    border: none;
    resize: none; 
}
.texto_entrada::placeholder{
    opacity: 1;
}
.advertencia{
    font-size: 1.2rem;
    color: var(--gray_400);
    margin: 3rem 0 1.5rem 0;
}
.advertencia i {
    padding-right: 1rem;
}


/**** SALIDA DE TEXTO ****/
.container_salida{
    background-color: var(--white);
    margin-bottom: 4rem;
    border-radius: 3.2rem;
    flex: 1;

    /* Estilos necesarios para cuando se agrega el botón de copiar */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* Contenido principal en pantalla de PC (940px)*/
@media (min-width: 940px) {
    .contenido_principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 8rem;
        margin-top: 0;
        height: 100vh; /* Permite que el contenido se adapte a pantallas con una altura muy grande */
    }
    .texto_entrada{
        flex: 1; /* Permite que el textarea crezca según la altura de la pantalla*/
    }
    .btn_contenedor{
        display: flex;
        gap: 2.4rem;
        margin-bottom: 4rem;
    }
    .btn_encriptar,
    .btn_desencriptar{
        margin-bottom: 0;
    }

    .container_salida {
        width: 40rem;
    }
}

/* Texto encriptado o desencriptado */
.salida{
    font-size: 2.4rem;
    color: var(--gray_400);
    margin: 0;
    padding: 3.2rem;
    opacity: 0;
    overflow-wrap: break-word;
}


/**** FOOTER ****/
footer{
    background-color: var(--darkBlue_500);
    padding: 2rem;
}
.copyright{
    font-size: 1.2rem;
    text-align: center;
    color: var(--gray_100);
    margin: 0;
}
