@import url(base.css);

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 4rem;
    font-weight: bold;
    color: var(--darkBlue_300);
    padding: 1rem;
}
.header_texto{
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.titulo_principal{
    color: var(--darkBlue_200);
    margin: 0 0 1.5rem 0;
}
.subtitulo{
    margin: 0;
}

/* Textarea */
.texto_entrada{
    font-size: 3.2rem;
    color: var(--darkBlue_200);
    width: 100%;
    min-height: 30rem;
    padding: 2rem;
    border: none;
    border-radius: 3.2rem;
    resize: none; 
}
.texto_entrada::placeholder{
    opacity: 1;
}
.advertencia{
    font-size: 1.2rem;
    color: var(--gray_400);
    margin: 3rem 0 1.5rem 0;
}
.advertencia i {
    padding-right: 1rem;
}

/* Botones */
/* Se incluyen los botones para encriptar, desencriptar y copiar texto*/
.btn_encriptar,
.btn_desencriptar,
.btn_copiar{
    display: block;
    width: 100%;
    padding: 2.4rem;
    border: none;
    border-radius: 2.4rem;
}
.btn_encriptar:hover,
.btn_desencriptar:hover,
.btn_copiar {
    cursor: pointer;
}

.btn_encriptar{
    color: var(--white);
    background-color: var(--darkBlue_300);
    margin-bottom: 2rem;
}
.btn_encriptar:hover{
    background-color: var(--darkBlue_200);
}

.btn_desencriptar,
.btn_copiar{
    color: var(--darkBlue_300);
    background-color: var(--white);
    margin-bottom: 6.4rem;
    border: 1px solid var(--darkBlue_300);
}
.btn_desencriptar:hover,
.btn_copiar:hover{
    background-color: var(--gray_100);
}

.btn_copiar{
    margin: 0;
    width: calc(100% - 3.2rem);
    align-self: center;
}

/* Salida de texto */
.container_salida{
    background-color: var(--white);
    margin-bottom: 4rem;
    border-radius: 3.2rem;

    /* Estilos necesarios para cuando se agrega el botón de copiar */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


/* Contenido principal en pantalla de PC (940px)*/
@media (min-width: 940px) {
    .contenido_principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 8rem;
    }

    .texto_entrada{
        min-height: 40rem;
    }

    .btn_contenedor{
        display: flex;
        gap: 2.4rem;
        margin-bottom: 4rem;
    }
    .btn_encriptar,
    .btn_desencriptar{
        margin-bottom: 0;
    }

    .container_salida {
        width: 40rem;
    }
}

/* Texto encriptado o desencriptado */
.salida{
    font-size: 2.4rem;
    color: var(--gray_400);
    margin: 0;
    padding: 3.2rem;
}

/* Footer */
footer{
    background-color: var(--darkBlue_500);
    padding: 2rem;
}
.copyright{
    font-size: 1.2rem;
    text-align: center;
    color: var(--gray_100);
    margin: 0;
}

