@import url(base.css);

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 4rem;
    font-weight: bold;
    color: var(--darkBlue_300);
    padding: 1rem;
}
.header_texto{
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}
.titulo_principal{
    color: var(--darkBlue_200);
    margin: 0 0 1.5rem 0;
}
.subtitulo{
    margin: 0;
}

/* Textarea */
.texto_entrada{
    font-size: 3.2rem;
    color: var(--darkBlue_200);
    width: 100%;
    min-height: 30rem;
    padding: 2rem;
    border: none;
    border-radius: 3.2rem;
    resize: none; 
}
.texto_entrada::placeholder{
    opacity: 1;
}
.advertencia{
    font-size: 1.2rem;
    color: var(--gray_400);
    margin: 3rem 0 1.5rem 0;
}
.advertencia i {
    padding-right: 1rem;
}

/* Botones */
.btn_encriptar,
.btn_desencriptar{
    display: block;
    width: 100%;
    padding: 2.4rem;
    border: none;
    border-radius: 2.4rem;
}
.btn_encriptar{
    color: var(--white);
    background-color: var(--darkBlue_300);
    margin-bottom: 2rem;
}
.btn_desencriptar{
    color: var(--darkBlue_300);
    background-color: var(--white);
    margin-bottom: 6.4rem;
    border: 1px solid var(--darkBlue_300);
}

/* Salida de texto */
.texto_salida{
    background-color: var(--white);
    padding: 3.2rem;
    margin-bottom: 4rem;
    border-radius: 3.2rem;
}
.no_texto{
    text-align: center;
    color: var(--gray_400);
}
.no_texto span{
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    color: var(--gray_500);
    margin-bottom: 1.6rem;
}

/* Contenido principal en pantalla de PC (940px)*/
@media (min-width: 940px) {
    .contenido_principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 8rem;
    }

    .texto_entrada{
        min-height: 40rem;
    }

    .btn_contenedor{
        display: flex;
        gap: 2.4rem;
    }
    .btn_encriptar,
    .btn_desencriptar{
        margin-bottom: 0;
    }

    /* Inserción de la imagen*/
    .no_texto::before{
        content: '';
        display: block;
        background-image: url(../img/Muñeco.svg);
        height: 30.4rem;
        width: 33.6rem;
        margin-bottom: 2rem;
    }
}

/* Footer */
footer{
    background-color: var(--darkBlue_500);
    padding: 2rem;
}
.copyright{
    font-size: 1.2rem;
    text-align: center;
    color: var(--gray_100);
    margin: 0;
}